@charset "UTF-8";

/* 
    tudo que em HTML é id = em CSS vai ser # (só pode 1 elemento
    tudo que em HTML é class = em CSS vai ser . (pode vários elementos)
*/
body {
    background-color: #0088DB;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h1 {
    color: #00436D;
}
h1#principal {
    text-align: center;
    background-color: #002E4B;
    color: black ;
}
h2 {
    color:#96C3D0;
}
.basico {
    color: #DBAF00;
    
}
.intermediario{
    color: #000BDB;
}
.avançado{
    color:#000;
}
.destaque {
   background-color: gold;
}