Body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    
}

mark {
    background-color: blue;
}