@font-face {
    font-family: 'fixgirf';
    src: url('fonts/Filxgirl.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* 
    Tipos de format()
    - opentype (otf)
    - truetype (ttf)
    - truetype-aat (Apple Advanced Typografy)
    - svg
    */
} 
@font-face {
    font-family: 'love story ttf.ttf';
    src: url('./fonts/love\ story\ ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #00C2DB, #DB5F00);
}
h1 {
    font-family: 'fixgirf', Times, serif;
    font-size: 3em;
    font-weight: normal;
}
p{
    font-family: 'love story ttf.ttf' ;
}